html {
  height: 100%;
  width: 100%;
}

/* Placing the footer at the bottom of the page*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*White color for text in footer elemt and text align*/
footer {
  background-color: #33302B;
  color: white;
  text-align: center;
  margin-top: auto;
}


.navbar {
  background-color: #A17735;
}

/*#F59700 - orange*/
/*#755F3B - brown*/
/*#A17735 - light brown*/
/*#4A4132 - dark brown*/
/*#33302B - weary dark brown*/


.textalign {
  text-align: center;
}