html {
  height: 100%;
  width: 100%;
}


/*#F59700 - orange*/
/*#755F3B - brown*/
/*#F8BA57 - soft orange colour*/
/*#4A4132 - dark brown*/
/*#33302B - weary dark brown*/




/* Placing the footer at the bottom of the page*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*White color for text in footer elemt and text align*/
footer {
  background-color: #33302B;
  color: white;
  text-align: center;
  margin-top: auto;
}


.navbar {
  background-color: #F8BA57;
}

    
.navbar-collapse{
    text-align: center;
}


.textalign {
  text-align: center;
}


.small_decorative_line {
  width: 50%;
  height: 2px;
  background-color: #F59700;
  margin: 0 auto;
  margin-bottom: 35px;
}

@media screen and (max-width:750px) {
  .small_decorative_line {
    width: 70%;
  }
}


.large_decorative_line {
  width: 70%;
  height: 2px;
  background-color: #F59700;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;


}

@media screen and (max-width:750px) {
  .large_decorative_line {
    width: 90%;
  }
}


.avatar_size {
  width: 100%;
  height: 400px;
  max-width: 400px;
}


.buttonbg {
  background-color: #F59700;
}




.box_style {
  border-style: solid;
  border-color: #F59700;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin: 50px;
}

.contact_box {
  margin-top: 100px;
}


.extra_white_space{

  margin-bottom: 200px;

}


.hiden_link{

  color: black;

  text-decoration: none;

}




.post_image_settings{
  width: 100%;
  height: 280px;
  max-width: 500px;
  
}

.post_box_style {
  border-style: solid;
  border-color: #F59700;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin: 50px;
  max-width: 800px;
  max-height: 286px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1199px) {
  .post_box_style {
    max-width: 400px;
    max-height: none;
  }
}

.avatar_text{
    justify-content: center; 
    align-items: center; 
    display: flex;              
    flex-direction: column; 
}