html {
  height: 100%;
  width: 100%;
}

/*#F59700 - orange*/
/*#755F3B - brown*/
/*#A17735 - light brown*/
/*#4A4132 - dark brown*/
/*#33302B - weary dark brown*/


.textalign {
  text-align: center;
}



